.form-wrapper {
  display: grid;
  max-width: 420px;
  margin: 2rem auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 1rem 3rem rgba(#86A8E7, 0.3);
  animation: slideUp .4s cubic-bezier(0.39, 0.575, 0.565, 1);
  overflow: hidden;
}

.form-banner {
  width: 100%;
  height: 200px;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); 

  .icon {
    user-select: none;
  }
}

.form {
  width: 100%;
  padding: 1.5rem;

  button {
    transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);

    &:not(:disabled):hover {
      filter: brightness(90%);
    }
  }

  &__header {
    margin-bottom: 1rem;
    user-select: none;
  }

  &__step-title {
    font-weight: 500;
  }

  &__group {
    position: relative;
    width: 100%;
    margin-bottom: 1.2rem;
  }
  
  &__label {
    color: #555;
    display: inline-block;
    padding-bottom: .3rem;
  }
  
  &__submit-btn,
  &__next-btn {
    display: block;
    width: 100%;
    padding: .6rem .6rem;
    border: 1px solid transparent;
    border-radius: .6rem;
  }

  &__submit-btn {
    color: #fff;
    background-color: #2468cf;
    box-shadow: 0 .7rem 2rem rgba(#2468cf, 0.6);
    animation: slideUp .3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  &__next-btn {
    margin-left: auto;
    width: 35%;
    background-color: #eee;
  }
}