.form__control {
  display: block;
  width: 100%;
  padding: .6rem .6rem;
  border: 1px solid #eee;
  border-radius: .6rem;
  caret-color: #7f81d6;
  transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);

  &::placeholder {
    color: #999;
  }

  &:focus {
    border-color: #86A8E7;
  }

  &.invalid {
    border-color: rgba(253, 61, 87, 0.432);
    background-color: rgba(253, 61, 87, 0.1);
    caret-color: #fd3d57;
  }
}